.calendar-card {
  background: #b8cc8a;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.calendar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-top h2 {
  margin: 0;
  font-size: 24px;
  color: #2d3a1f;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day-header {
  font-weight: bold;
  color: #2d3a1f;
  padding-bottom: 5px;
}

.date-box {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f2c6;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.date-box:hover {
  background: #e6e1b3;
  transform: translateY(-2px);
}

.date-box.selected {
  background: #3f5c1a;
  color: white;
  font-weight: bold;
}

.date-box.empty {
  background: transparent;
  cursor: default;
}

.date-box.in-range{
  background-color: #d3d0b1;
  color: #666;
  border-radius: 10px;
}
